.size {
    height: 25px;
    width: 25px;
}
.container {
    padding-top: 100px;
}
.form {
    position: absolute;
    width: 630px;
    height: 700px;
    left: 736px;
    top: -5px;

    padding: 5%;
    background: #FFFFFF;
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    /* background-color: red; */
}
.padding-0{
    padding: 50px;
    width: 100vh;
    background: #FFFFFF;

}
.image {
    padding-top: 120px;
}

.welcome {
    padding-top: 70px;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    padding-bottom: 0px;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #213F7D;
}
.w-p {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 30px;
    /* identical to box height */


    color: #545F7D;
}
input {
    background: #FFFFFF;
    border: 2px solid rgba(84, 95, 125, 0.15);
    border-radius: 5px;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #545F7D;

    opacity: 0.6;
}
.f-pw{
    padding-right: 80px;
}
.btn-primary{
    background: #39CDCC;
    border-radius: 8px;
    height: 48px;
    width: 414px;
    border-radius: 8px;

}
.a {
    text-decoration: none;
    background-color: #FFFFFF;
    border-left-color: #FFFFFF;
    font-family: 'Avenir Next';
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #39CDCC;
}
/* .input-group-text{
    border-left-color: #FFFFFF;
} */
.f-p {
    font-family: 'Avenir Next';
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #39CDCC;
    padding-bottom: 100px;
    text-decoration: none;
}
nav {
    background: #FFFFFF;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}
.union{
    /* background: linear-gradient(31.06deg, #213F7D -30.58%, #39CDCC 116.98%); */
    /* height: 20.836618423461914px;
    width: 20.625px; */
    /* border-radius: 0px; */
    height: 30px;
    width: 115.36643981933594px;
    left: 59.4375px;
    top: 35px;
    border-radius: 0px;


}
.navbar-brand {
    color: #213F7D;
    height: 30px;
    width: 115.36643981933594px;
    border-radius: 0px;

}
.text-c {
    width: 280px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213F7D;
}
nav {
    height: 100px;
    width: 1440px;
    border-radius: 0px;
    background: #FFFFFF;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}
.bgc{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    height: 1695px;
    width: 283px;
    border-radius: 0px;

}